data/**
logs/**
.snakemake/**
workflow/helpers/run/**
output/**
workflow/software/**
**/__pycache__/
misc/**
archives/**
run/**
snakefile.predictDB.smk
workflow/src/archives/**
archives/**
slurm_logs/**